.employee-info-body {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #707070;
}

#employee-name-label {
  font-size: 50px;
  padding-top: 20px;
}

#employee-post-label {
  font-size: 40px;
  padding-bottom: 20px;
}

.employee-info-seperator {
  background-color: #707070;
  border: 2px solid;
}
