.body-panel {
  background-color: #370617;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #707070;
}

.employee-name-label {
  font-size: 100px;
}

.employee-details-seperator {
  background-color: #707070;
  border: 2px solid;
  margin-bottom: 0px;
}

.employee-details {
  padding-top: 42px;
  font-size: 65px;
  padding-bottom: 10px;
}

.employee-section-seperator {
  background-color: #707070;
  border: 4px solid;
  margin-bottom: 0px;
}

.task-label {
  font-size: 100px;
}

.employee-task-details {
  padding-top: 42px;
  font-size: 65px;
  padding-bottom: 20px;
}
